{% extends "base.html" %}
{% block title %}О компании{% endblock title %}

{% block content %}{% spaceless %}
<p style="margin: 150px 10% 0; font-size: 30px; line-height: 1.7;">Для нас нет ничего лучше в жизни, чем время, проведенное с людьми, которые что-то значат для нас. Baracudsgroup - наша страсть. Это драйв нашей команды, 24/7, 365 дней в году. Стремясь быть лучшим во всем, что мы делаем, мы всегда ставим интересы наших клиентов выше собственных. Для наc хорошо - недостаточно. Мы всегда делаем больше того, что от нас ожидают. Для наших клиентов мы всегда готовы сделать невозможное. Приобретая один из предложенных стратапов вы инвестируете денежные средства в экспериментальные технологии добычи, обработки и оборота криптовалюты, которые уже со дня инвестирования начнут приносить Вам прибыль.</p>
<style type="text/css">
	.footer{
		bottom: -50vh;
	}

</style>
{% endspaceless %}{% endblock content %}